/server/node_modules
/server/.esm-cache
/server/.eslintrc.json

# =============== #
# Unity generated #
# =============== #
Temp/
Library/
iOS_Capstone/
iOS_Holodeck/
!iOS_Holodeck/Assets/**/*.cs
iOS_Holodeck/Assets/Vendor
iOS_Holodeck/Assets/Poly
iOS_Holodeck/Assets/PolyToolkit
Hololens/
!Hololens/ASU_Holodeck/Assets/*.cs
!Hololens/ASU_Holodeck/Assets/Scripts/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

\.vscode/
