[project]
	description = Repository for our Capstone 2017-2018 project. Building an augmented-reality presentation platform.
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Josh Hewlett (joshhewlett)
[access "refs/for/refs/*"]
	read = group user/Josh Hewlett (joshhewlett)
	push = group user/Josh Hewlett (joshhewlett)
	label-Code-Review = -2..+2 group user/Josh Hewlett (joshhewlett)
	label-Verified = -1..+1 group user/Josh Hewlett (joshhewlett)
	rebase = group user/Josh Hewlett (joshhewlett)
	removeReviewer = group user/Josh Hewlett (joshhewlett)
	submit = group user/Josh Hewlett (joshhewlett)
[access "refs/heads/*"]
	read = group user/Josh Hewlett (joshhewlett)
	create = group user/Josh Hewlett (joshhewlett)
	push = +force group user/Josh Hewlett (joshhewlett)
	pushMerge = group user/Josh Hewlett (joshhewlett)
[access "refs/tags/*"]
	push = group user/Josh Hewlett (joshhewlett)
	push = +force group user/Josh Hewlett (joshhewlett)
